.login-page-wrapper {
  height: 100%;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  .login-img-with-input-blocks {
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
    img {
      height: 200px;
    }
    .cake-form-block {
      width: 300px;
    }
  }
}

@media screen and (max-width: 479px) {
  .login-page-wrapper {
    .login-img-with-input-blocks {
      flex-direction: column;
      img {
        width: 100%;
        object-fit: contain;
      }
      .cake-form-block {
        width: 100%;
      }
      .ant-space {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
